.pd-cv-format {
    .pd-cv-wrapper {
        box-shadow: rgb(217, 221, 224) 0px 0px 34px 0px;
        padding: 3rem;

        // =========== left
        .pd-cv-left {
            flex: 0 0 40%;
            max-width: 40%;
            
            padding: 1rem 0;

            .pd-ls-loc {
                @include fnt-dmsans(500, 0.875rem);
                color: $paraColor;
                margin-bottom: 0;
            }

            .pd-ls-duration {
                @include fnt-dmsans(500, 0.875rem);
                color: $paraColor;
                margin-bottom: 0;
                font-style: italic;
            }


        }


        // ========= right
        .pd-cv-right {
            flex: 0 0 60%;
            max-width: 60%;
            display: flex;            
            padding: 1rem 0;

            .pd-desc-lg{
                h5{
                     @include fnt-dmsans(600, 1rem);
                     margin-bottom: 0.2rem;
                     color: $paraColor;
                }
                h6{
                     @include fnt-dmsans(600, 0.85rem);
                     color: $paraColor;
                     margin-bottom: 0.5rem;
                }
                p{
                     @include fnt-dmsans(400, 0.875rem);
                     color: $paraColor;
                     margin-bottom: 0;
                }
            }
        }



        &__top-bar {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 2rem;


            .pd-cv-left {

                h2 {
                    @include fnt-poppins(600, 1.5rem);
                    margin-bottom: 2px;
                    color: $paraColor;
                }

                p {
                    @include fnt-dmsans(500, 0.875rem);
                    color: $paraColor;
                }

            }

            .pd-cv-right {
                display: flex;
                align-items: center;
                justify-content: flex-end;

                div {
                    p {
                        @include fnt-dmsans(500, 0.875rem);
                        margin-bottom: 0;
                        color: $paraColor;
                    }

                }

                img {
                    width: 80px;
                    height: 80px;
                    object-fit: contain;
                    margin-left: 1rem;
                }

            }
        }

        &__inner-desc {
            border-top: 0.1rem dashed gray;
            flex-wrap: wrap;
            padding: 0.6rem 0;

            .cv-sec-title {
                @include fnt-dmsans(600, 1rem);
                color: $paraColor;
            }

            .pd-cv-desc {
                @include fnt-dmsans(400, 0.75rem);
                color: $paraColor;
                line-height: 1.3rem;
                margin-bottom: 0;
            }

            .pd-skills-set{
                h6{
                    margin: 5px 0;
                }
               
                &__item{
                    display: flex;
                    div{
                        @include fnt-dmsans(400, 0.7rem);
                        color: $paraColor;
                        background: $lightExGray;
                        margin: 5px;
                        border-radius: 5px;
                        padding: 4px 10px;
                    }
                }
            }

        }
    }
}