@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,500&display=swap');
.pd-cv-format {
    *{
        font-family: 'Roboto Slab', serif !important;
    }
   
    .pd-cv-wrapper {
        box-shadow: rgb(217, 221, 224) 0px 0px 34px 0px;
        padding: 2.5rem;

        // =========== left
        .pd-cv-left {
            flex: 0 0 40%;
            max-width: 40%;            
            padding: 1rem 0;

            .pd-ls-loc {
                @include fnt-dmsans(500, 0.7rem);
                color: $paraColor;
                margin-bottom: 0;
            }

            .pd-ls-duration {
                @include fnt-dmsans(500, 0.7rem);
                color: $paraColor;
                margin-bottom: 0;
                font-style: italic;
            }


        }


        // ========= right
        .pd-cv-right {
            flex: 0 0 60%;
            max-width: 60%;
            display: flex;            
            padding: 0.7rem 0;

            .pd-desc-lg{
                h5{
                     @include fnt-dmsans(600, 0.8rem);
                     margin-bottom: 0.2rem;
                     color: $paraColor;
                }
                h6{
                     @include fnt-dmsans(600, 0.7rem);
                     color: $paraColor;
                     margin-bottom: 0.5rem;
                }
                p{
                     @include fnt-dmsans(400, 0.65rem);
                     color: $paraColor;
                     line-height: 1.1rem;
                     margin-bottom: 0;
                }
            }
        }



        &__top-bar {
            display: flex;
            align-items: center;
            justify-content: space-between;
            // margin-bottom: 2rem;


            .pd-cv-left {

                h2 {
                    @include fnt-poppins(600, 1rem);
                    margin-bottom: 2px;
                    color: $paraColor;
                }

                p {
                    @include fnt-dmsans(500, 0.7rem);
                    color: $paraColor;
                }

            }

            .pd-cv-right {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                text-align: right;

                div {
                    p {
                        @include fnt-dmsans(500, 0.7rem);
                        margin-bottom: 0;
                        color: $paraColor;
                    }

                }

                img {
                    width: 80px;
                    height: 80px;
                    object-fit: contain;
                    margin-left: 1rem;
                }

            }
        }

        &__inner-desc {
            border-top: 0.1rem dashed gray;
            flex-wrap: wrap;
            padding: 0.6rem 0;

            .cv-sec-title {
                @include fnt-dmsans(600, 0.875rem);
                color: $paraColor;
            }

            .pd-cv-desc {
                @include fnt-dmsans(400, 0.65rem);
                color: $paraColor;
                line-height: 1.1rem;
                margin-bottom: 0;
            }

            .pd-skills-set{
                h6{
                    margin: 5px 0;
                }
               
                &__item{
                    display: flex;
                    flex-wrap: wrap;
                    margin-top: -1.65rem;
                    div{
                        @include fnt-dmsans(400, 0.6rem);
                        color: $paraColor;
                        background: $lightExGray;
                        margin: 5px;
                        border-radius: 5px;
                        padding: 4px 10px;
                    }
                }
            }

        }
    }
}

.pd-cv-left-6{
    padding: 5% 30px;
    .pd-cv-inp-form-wrapper{
        .pd-main-title{
            font-size: 1.5rem;
        }
        .pd-cv-desc{
            @include fnt-dmsans(400, 1rem);
            color: $paraColor;
        }
        .pd-form-inp-title{
            @include fnt-dmsans(700, 1.2rem);
            color: $paraColor;
            margin-bottom: 1rem;
            margin-top: 1.5rem;
        }
        .pd-btn-group{
            .pd-link-btn{
                padding: 0;
                a{
                    color: $white !important;
                    text-decoration: none;
                    padding: 12px 35px;
                    display: inline-block;
                }
            }           
        }
    }
    .pd-primary-btn{
        font-size: 0.8rem;
    }
   
}
.pd-cv-right-6{
    padding: 5% 30px;
    max-height: 100vh;
    overflow: auto;
    padding-bottom: 10%;
}

.pd-cv-finish{
    max-width: 800px;
    margin: auto;
   
    .pd-cv-right-6{
        max-height: unset;
    }
}

.pd-download{
    text-align: center;
    margin: 0 0 3rem 0;
    margin-bottom: 2rem;
}