.pd-mui-input {
    margin-bottom: 1.5rem !important;
    font-family: 'DM Sans', sans-serif !important;
    @include fnt-dmsans(400, 0.875rem);
}

input,
label,
.MuiFormGroup-root span {
    font-family: 'DM Sans', sans-serif !important;
    color: $paraColor;
}

.pd-login-form {
    padding: 3rem;
    box-shadow: 0px 0px 30px -17px #00000047;
    @include border-radius(1rem);

    @include tablet {
        width:520px;
    }

    margin: auto;
    display: inline-block;

    .pd-main-title {
        @include fnt-dmsans(600, 2rem);
        color: $mainFont;
        margin-bottom: 1.2rem;
    }

    p {
        @include fnt-dmsans(400, 1.15rem);
        color: $paraColor;

        a {
            @include fnt-dmsans(500, 1.2rem);
            text-decoration: none;
            color: $primary;
        }
    }

    .pd-primary-btn {
        padding: 0.7rem;
        @include border-radius(2rem);
        text-transform: uppercase;
        @include fnt-dmsans(400, 1rem);
        margin-top: 1rem;
    }
    .pd-forg-pw{
        @include fnt-dmsans(500, 1rem);
        text-decoration: none;
        color: $primary;
    }
    .pd-su-terms{
        text-align: center;
        @include fnt-dmsans(400, 0.8rem);
        margin-top: 1rem;
        color: $paraColor;
        line-height: 1.3rem;
        a{
            color: $primary;
            text-decoration: none;
        }
    }
}

.pd-log-with {
    margin: 1rem 0;

    &__icon-card {
        align-items: center;
        display: flex;
        border: 1px solid $borderGray;
        flex: 0 0 45%;
        height: 43px;
        text-align: center;
        justify-content: center;
        @include border-radius(2rem);
        text-decoration: none !important;
        transition: all 0.5s;

        &:hover{
            transition: 0.5s;
            background: #f7f7f7;
        }



        div{
            display: flex;
            align-items: center;
        }

        &:last-child {
            img{
                margin-top: -4px;
            }
        }


        img {
            width: 20px;
            height: 20px;
            object-fit: contain;
            margin-right: 8px;
        }

        span {
            margin-bottom: 0;
            @include fnt-dmsans(400, 0.85rem);
            color: $paraLightGray;
            text-transform: uppercase;
            margin-bottom: -3px;
            letter-spacing: 0.1rem;
        }

    }

    &__pd-sep-or {
        text-align: center;
        position: relative;
        margin: 1rem 0 1.5rem;

        p {
            @include fnt-dmsans(400, 0.875rem);
            text-transform: uppercase;
            position: relative;
            margin-bottom: 0;
            color: $paraLightGray;
            letter-spacing: 3px;

            &::after {
                content: "";
                position: absolute;
                width: 45%;
                height: 1px;
                background: #969b9e52;
                top: 50%;
                right: 0;
            }

            &::before {
                content: "";
                position: absolute;
                width: 45%;
                height: 1px;
                background: #969b9e52;
                top: 50%;
                left: 0;
            }

        }
    }
}

.pd-experience-list{
    margin: 2rem 0 1rem;
    div{

        padding: 1.5rem;
        background: #80808026;
        margin: 1rem 0;
        @include border-radius(10px);
        position: relative;

        h5{
              @include fnt-dmsans(600, 1.2rem);
        }

        h6{
              @include fnt-dmsans(600, 1rem);
        }

        .pd-per{
              @include fnt-dmsans(400, 0.85rem);
              margin-bottom: 0;
        }

        .pd-loc{
              @include fnt-dmsans(400, 0.85rem);
              margin-bottom: 5px;
        }

        .pd-desc{
              @include fnt-dmsans(400, 0.85rem);
              margin-bottom: 0;
        }
        .pd-remove-button-rounded{
            border: none;
            background: $lightRed;
            @include border-radius(100%);
            width: 25px;
            height: 25px;
            color: $white;
            display: flex;
            align-items: center;
            justify-content: center;
            @include fnt-dmsans(700, 0.7rem);
            position: absolute;
            right: -9px;
            top: -8px;
        }
    }
}

.pd-btn-group{
    button{
        &:first-child{
            margin-right: 1rem;
        }
    }
}