.pd-main-title {
    @include fnt-dmsans(500, 2rem);
    color: $mainFont;
}

.pd-home-banner {
    min-height: 70vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;

    .pd-primary-btn {
        @include def-button($primary, $white, 10px, 60%, 2px solid, 46px, $primary, uppercase);
        @include fnt-dmsans(800, 0.875rem);

        &:hover {
            @include def-button($primary, $white, 10px, 60%, 2px solid, 46px, $primary, uppercase);
            transform: translateY(-2px);
            box-shadow: 0px 26px 36px -17px rgba(250, 112, 98, 0.4392156863);
        }
    }

    .pd-main-title {
        @include fnt-poppins(400, 3rem);
        margin-bottom: 1.5rem;
        color: $mainFont;
        line-height: 3.9rem;
    }

    p {
        @include fnt-dmsans(400, 1.15rem);
        margin-bottom: 2.5rem;
        color: $mainFont;
    }
}

.pd-home-features-content {
    .pd-feature-card {
        text-align: center;
        background: $white;
        padding: 25px 20px 25px;
        border: 1px solid $primary;
        @include border-radius(8px);
        min-height: 155px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        transition: all 0.5s;

        &:hover {
            transform: translateY(-5px);
            box-shadow: 0px 26px 36px -17px #fa706270;

            .pd-img-feat {
                transform: translateY(12px);

            }
        }

        .pd-main-title {
            color: $primary;
            @include fnt-dmsans(500, 1rem);
            margin: 10px 0 10px;
        }

        p {
            @include fnt-dmsans(400, 0.875rem);
            margin-bottom: 0;
            color: $paraColor;
        }

        .pd-img-feat {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50px;
            height: 50px;
            padding: 5px;
            @include border-radius(100%);
            border: 1px solid $primary;
            margin-bottom: 5px;
            margin: auto;
            background: $white;
            padding: 12px;
            position: absolute;
            left: 50%;
            margin-left: -25px;
            top: -17%;
            transition: all 0.5s;

            img {
                width: 100%;
                filter: invert(73%) sepia(31%) saturate(6952%) hue-rotate(327deg) brightness(106%) contrast(102%);
                ;
            }
        }
    }
}

.pd-hcgr {
    background: $sectionBg;

    .pd-sub-title {
        color: $white;
        @include fnt-dmsans(400, 1.5rem);
        margin-bottom: 5rem;
    }

    .pd-main-title {
        color: $white;
        @include fnt-dmsans(700, 2.5rem);
    }

    &__pd-steps-res {
        .pd-res-step-card {
            max-width: 80%;
            padding-left: 20px;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                left: 0;
                width: 1px;
                height: 100%;
                background-color: $white;
                top: 0;
            }

            &::before {
                content: "";
                position: absolute;
                width: 0;
                height: 0;
                border-top: 15px solid transparent;
                border-left: 13px solid $sectionBg;
                border-bottom: 15px solid transparent;
                left: -42px;
                top: 0px;
                z-index: 9;
            }

            div {
                left: -42px;
                background: $white;
                color: $sectionBg;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 42px;
                height: 30px;
                padding-left: 8px;
                @include fnt-poppins(700, 1.1rem);
                position: absolute;
            }

            h4 {
                color: $white;
                @include fnt-poppins(600, 1.15rem);
                margin-bottom: 1.5rem;
                min-height: 46px;
            }

            p {
                color: $white;
                margin-bottom: 0;
                @include fnt-dmsans(400, 1rem);
            }
        }
    }

    &__resume-coach {
        margin-top: 6rem;

        .pd-main-title {
            @include fnt-dmsans(600, 1.8rem);
            margin-bottom: 2rem;
        }

        .pd-sub-title {
            @include fnt-dmsans(400, 1.2rem);
            line-height: 1.8rem;
            margin-bottom: 3rem;
        }

        iframe {
            width: 100%;
            height: 350px;
        }

        .pd-primary-btn {
            color: $white;
            background: transparent;
            border-color: $white;
            min-width: 200px;
            padding: 10px;
            @include border-radius(50px)
        }
    }
}

.pd-testimonials-sec {
    .pd-main-title {
        @include fnt-dmsans(700, 2.5rem);
    }

    .pd-sub-title {
        @include fnt-dmsans(400, 1.5rem);
    }

    &__testi-slider {
        margin-top: 2rem;

        .pd-slider-item {
            position: relative;
            padding: 30px;

            p {
                @include fnt-dmsans(400, 1rem);
                line-height: 1.8rem;
            }

            h5 {
                @include fnt-dmsans(600, 1.1rem);
            }

            .comma {
                width: 40px;
                height: 40px;
                object-fit: contain;
                position: absolute;
                left: -9px;
                top: 4px;
                filter: opacity(0.3);
                transform: rotate(182deg);
            }
        }
    }

    &__clients {
        margin-top: 6rem;

        .pd-sub-title {
            margin-bottom: 3rem;
        }
    }

}

.pd-wiprc {
    background: $sectionBg;
    color: $white;

    .pd-main-title {
        color: $white;
        @include fnt-dmsans(700, 2.5rem);
        margin-bottom: 3rem;
    }

    &__card {
        text-align: center;
        margin-top: 2rem;

        p {
            color: $white;
            @include fnt-dmsans(400, 1rem);
            margin-top: 1rem;
        }

        h4 {
            color: $white;
            @include fnt-poppins(700, 2rem);
        }

        div {
            color: $white;
        }

        img {
            width: 50px;
            filter: invert(1);
            margin-bottom: 2rem;
        }
    }
}

.pd-worm {
    .pd-main-title {
        @include fnt-dmsans(700, 2.5rem);
        width: 80%;
        margin:auto;
    }

    .pd-sub-title {
        @include fnt-dmsans(400, 1.5rem);
        margin: auto;
        margin-top: 1rem;
        width: 80%;
    }

    .pd-primary-btn {
        margin-bottom: 1rem;
        margin-top: 1.5rem;
    }

    iframe {
        margin-top: 3rem;
        width: 100%;
        height:500px;
        width: 80%;
    }
}