.pd-main-title{
    @include fnt-dmsans(500, 2rem);
    color:$mainFont;
}

.pd-home-banner{
    min-height:70vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    .pd-primary-btn{
        @include def-button($primary, $white, 10px , 60%, 2px solid, 46px, $primary, uppercase);
        @include fnt-dmsans(800, 0.875rem);
        &:hover {
            @include def-button($primary, $white, 10px, 60%, 2px solid, 46px, $primary, uppercase);
        }
    }
    .pd-main-title{
        @include fnt-poppins(400, 3rem);
        margin-bottom: 1.5rem;
        color: $mainFont;
        line-height: 3.9rem;
    }
    p{
        @include fnt-dmsans(400, 1.15rem);   
        margin-bottom: 2.5rem;
        color: $mainFont;
    }
}