* {
    scroll-behavior: smooth;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
div {
    color: $mainFont;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.align-items-center {
    align-items: center
}

.pd-primary-btn {
    @include def-button($primary, $white, 4px 10px 3px 10px, 100px, 2px solid, 15px, $primary, uppercase);
    @include fnt-dmsans(700, 0.875rem);

    &:hover {
        @include def-button($primary, $white, 4px 10px 3px 10px, 100px, 2px solid, 15px, $primary, uppercase);
    }
}

.pd-primary-btn-outlined {
    @include def-button($white, $primary, 4px 10px 2px 10px, 100px, 2px solid, 15px, $primary, uppercase);
    @include fnt-dmsans(700, 0.875rem);

    &:hover {
        @include def-button($primary, $white, 4px 10px 2px 10px, 100px, 2px solid, 15px, $primary, uppercase);
    }
}

.pd-main-title {
    @include fnt-dmsans(700, 1rem);
}

.pd-sub-title {
    @include fnt-dmsans(500, 0.9rem);
}

.pd-padd {
    padding: $sectionSpace;
}

.slick-dots li button {
    transform: scale(1.2);
}

.slick-dots li button:before {
    color: $primary;
}

.slick-dots li.slick-active button:before {
    opacity: .75;
    color: $primary;
}

.pd-main-web-footer {
    background: $sectionBg;
    padding-bottom: 0;

    .pd-main-logo {
        margin-bottom: 3rem;
    }

    &__pd-footer-menu {
        margin-bottom: 2rem;

        h4 {
            color: $white;
            @include fnt-dmsans(600, 1.2rem);
            margin-bottom: 1.5rem;
        }

        a {
            color: $white;
            margin: 0 1rem;
            @include fnt-dmsans(400, 0.875rem);
            text-decoration: none;
            line-height: 2rem;
            transition: all 0.5s;

            &:hover {
                transition: 0.5s;
                color: $primary;
            }
        }
    }

    &__pd-f-credit {
        text-align: center;
        padding-bottom: 1rem;
        background: $black;
        padding-top: 1rem;

        p {
            margin-bottom: 0;
            color: $white;
            @include fnt-dmsans(300, 0.8rem);

            a {
                color: $white;
                text-decoration: none;
                transition: all 0.5s;

                &:hover {
                    transition: 0.5s;
                    color: $primary;
                }

            }
        }
    }
}

.btn-primary {
    --bs-btn-color: $primary;
    --bs-btn-bg: $primary;
    --bs-btn-border-color: $primary;
    --bs-btn-hover-color: $primary;
    --bs-btn-hover-bg: $primary;
    --bs-btn-hover-border-color: $primary;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: $primary;
    --bs-btn-active-bg: $primary;
    --bs-btn-active-border-color: $primary;
    --bs-btn-active-shadow: inset 0 3px 5px $primary;
    --bs-btn-disabled-color: $primary;
    --bs-btn-disabled-bg: $primary;
    --bs-btn-disabled-border-color: $primary;
}

.pd-flx-space-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pd-flex{
    display: flex;
    flex-wrap: wrap;
}

.align-items-top{
    align-items: flex-start;
}