@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500&display=swap');


$fnt-dmsans-regular: 'DM Sans', sans-serif;
$fnt-poppins-regular: 'Poppins', sans-serif;

@mixin fnt-dmsans($weight, $size) {
    font-family: $fnt-dmsans-regular;
    font-weight: $weight;
    font-size: $size;
}

@mixin fnt-poppins($weight, $size) {
    font-family: $fnt-poppins-regular;
    font-weight: $weight;
    font-size: $size;
}

@mixin border-radius($radius) {
    border-radius: $radius;
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
}

@mixin def-button($background, $color, $padding, $min-width, $border, $border-radius, $border-color,$text-transform) {
    min-width: $min-width;
    background: $background;
    border-radius: $border-radius;
    padding: $padding;
    border: $border;
    text-align: center;
    border-color: $border-color;
    color: $color;
    transition: all 0.5s;
    text-transform: $text-transform;
}

$breakpoint-lg: 992px;

@mixin desktop{
    @media (min-width: $breakpoint-lg) {
        @content;
    }
}