// colors
$primary: #fa7062;
$white: #ffffff;
$black: #000000;
$mainFont: #00293a;
$primaryFont: #ff7f50;
$paraColor:#4e4e4e;
$sectionBg: #18324f;
$paraLightGray:#969b9e;
$borderGray:#21476166;
$lightExGray:#efefef;

// spacing
$paddingHeader: 1% 0;
$sectionSpace: 5% 0;